Node-Red Flow/flows.json
[{"id":"873e9fb3.9857b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4dbc8907.ad2178","type":"ui_form","z":"873e9fb3.9857b","name":"","label":"","group":"917892ed.ecc39","order":1,"width":0,"height":0,"options":[{"label":"Enter Your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":280,"wires":[["bcf9fa15.b72ca8"]]},{"id":"bcf9fa15.b72ca8","type":"function","z":"873e9fb3.9857b","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["d42e4298.ba22c","d90d7174.9b7d2"]]},{"id":"131f8203.5e476e","type":"function","z":"873e9fb3.9857b","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":300,"wires":[["a4b94f4a.2cd19"]]},{"id":"d90d7174.9b7d2","type":"watson-conversation-v1","z":"873e9fb3.9857b","name":"Customer Care","workspaceid":"72e25a05-e323-46c5-bafa-c27d502ca7d1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.au-syd.assistant.watson.cloud.ibm.com/instances/3cb6c481-490d-484d-85e7-c1169f706789","timeout":"","optout-learning":false,"x":600,"y":140,"wires":[["f6b68573.2e7a48","131f8203.5e476e"]]},{"id":"d42e4298.ba22c","type":"ui_text","z":"873e9fb3.9857b","group":"917892ed.ecc39","order":2,"width":0,"height":0,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":450,"y":420,"wires":[]},{"id":"f6b68573.2e7a48","type":"debug","z":"873e9fb3.9857b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":180,"wires":[]},{"id":"a4b94f4a.2cd19","type":"ui_text","z":"873e9fb3.9857b","group":"917892ed.ecc39","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":860,"y":420,"wires":[]},{"id":"917892ed.ecc39","type":"ui_group","z":"","name":"Chatbot","tab":"236a48a2.e582a8","order":1,"disp":true,"width":13,"collapse":false},{"id":"236a48a2.e582a8","type":"ui_tab","z":"","name":"Customer Care Helpbot","icon":"dashboard","disabled":false,"hidden":false}]